# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude tfvars files (which contain project IDs, keys, etc.)
*.tfvars
*.tfvars.txt
*.tfvars.json

# Ignore python venv
venv/
.venv/
__pycache__/
*.pyc

# Ignore OS files
.DS_Store
Thumbs.db
